<!-- forgot_password.html -->
{% extends "base.html" %}

{% block title %}
Forgot Password
{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <h2>Forgot Password</h2>
        <form method="POST" action="{{ url_for('forgot_password') }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username.label(class="form-control-label") }}
                {{ form.username(class="form-control", placeholder="Enter your username") }}
                {% for error in form.email.errors %}
                    <small class="text-danger">{{ error }}</small>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {{ form.email(class="form-control", placeholder="Enter your email address") }}
                {% for error in form.email.errors %}
                    <small class="text-danger">{{ error }}</small>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}
